# -----------------------------
# PowerShell Script Files
# -----------------------------
# Ignore PowerShell module and manifest files if not needed to be tracked
*.ps1xml
*.psd1
*.psm1

# Temporary files and logs generated during script execution
*.tmp
*.log

# -----------------------------
# Visual Studio Code Settings
# -----------------------------
# Ignore the entire .vscode folder except for shared configuration files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# -----------------------------
# OS / System Files
# -----------------------------
# Windows thumbnail cache and system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
